body {
    margin-top: 70px;
    background-color: #536e7d;
}


.compteur {
    display: flex;
    background-color: #170BBF;
    border-radius: 10px;
    font-size: 2rem;
    padding: 10px;
}

.classe {
    text-align: center;
    background-color: #190CCC;
    border-radius: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    margin: 10px;
}

.coma {
    flex-shrink: 2;
}

.classe-header {
    flex-shrink: 1;
}

.chiffres {
    display: flex;
}

.chiffre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 1px;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    font-size: 1rem;
}

.digit {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

.affichage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label-C {
    background-color: orange;
    color: black;
}

.label-D {
    background-color: yellow;
    color: black;
}

.label-U {
    background-color: green;
    color: black;
}

.green {
    background-color: #0f0;
}