body {
    margin-top: 70px;
    background-color: #536e7d;
}

.m-eol {
    margin-right: 4rem !important;
}

.mr-2 {
    margin-right: 0.5rem !important;
}

.mb-2 {
    margin-bottom: 0.5rem !important;
}

.mb-3 {
    margin-bottom: 1rem !important;
}

.text-white {
    color: #ffffff !important;
}

.compteur {
    display: flex;
    width: 100%;
    background-color: #00f;
    border-radius: 10px;
    font-size: 2em;
    padding: 10px;
}

.classe {
    text-align: center;
    background-color: #33f;
    border-radius: 5px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 80%;
    margin: 10px;
}

.coma {
    flex-shrink: 2;
}

.classe-header {
    margin-bottom: 10px;
}

.chiffres {
    display: flex;
}

.chiffre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2px;
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
}

.digit {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    font-size: 3em;
}

.affichage {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.label-C {
    background-color: orange;
    color: black;
}

.label-D {
    background-color: yellow;
    color: black;
}

.label-U {
    background-color: green;
    color: black;
}